.Explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Baumans', cursive;
}

.explore-search {
    font-family: 'Baumans', cursive;
    margin-top: 18px;
    width: 700px;
    height: 20px;
}

.explore-search-btn {
    margin-left: 10px;
    font-family: 'Baumans', cursive;
    width: 80px;
    height: 25.5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Baumans', cursive;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: none;
    background-color: #2B2B2B;
    color: white;
}

.explore-search-btn:hover {
    background-color: #2B2B2B;
    background-size: 80px;
    background-repeat: none;
    border: 2px solid #2B2B2B;
    color:#ffffff;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
}

.explore-top-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-options {
    background-color: #FFE952;
    margin: 20px;
    width: 400px;
    height: 300px;
    -webkit-clip-path: polygon(28% 0%, 72% 0%, 100% 50%, 72% 100%, 28% 100%, 0% 50%);
    clip-path: polygon(28% 0%, 72% 0%, 100% 50%, 72% 100%, 28% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-options:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}