.Footer {
    z-index: -1;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    -webkit-clip-path: polygon(0 40%, 5% 0, 95% 0, 100% 40%, 100% 100%, 0 100%);
    clip-path: polygon(0 40%, 5% 0, 95% 0, 100% 40%, 100% 100%, 0 100%);
    background-color: #FFE952;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.footer-text-ctn {
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

.footer-text {
    font-family: 'Baumans', cursive;
    font-size: 15px;
    text-decoration: none;
    color: #2B2B2B;
}

.footer-text:hover {
    color: #888888;
}

