.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Baumans', cursive;
}

.loginform {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: #FFE952;
    border-radius: 20px;
}

.logininput {
    margin: 5px;
}

.loginlabel {
    margin: 20px;
}

.login {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Baumans', cursive;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: 2px solid #2B2B2B;
    background-color: white;
    color: #2B2B2B;
}

.login:hover {
    background-color: #2B2B2B;
    background-size: 80px;
    background-repeat: none;
    border: 2px solid #2B2B2B;
    color:#ffffff;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
}

.noaccount {
    margin-top: 10px;
}