.Nav {
    z-index: 1;
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    outline: 2px solid #2B2B2B;
    border-top: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.nav-logo {
    width: 200px;
    margin: 5px;
}

.nav-right {
    margin: 12px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.nav-item {
    width: 60px;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Baumans', cursive;
    text-decoration: none;
    color: #2B2B2B;
    background: url('../../public/assets/icon.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: start;
}
.nav-item:hover {
    color: #2B2B2B;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.nav-button {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Baumans', cursive;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: none;
    background-color: #2B2B2B;
    color: white;
}

.nav-button:hover {
    background-color: #FFE952;
    background-size: 80px;
    background-repeat: none;
    border: 2px solid #2B2B2B;
    color:#2B2B2B;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
}