.UpdateList {
    margin: 10px;
    font-family: 'Baumans', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.updateform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 200px;
    background-color: #FFE952;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.updateinput {
    margin: 10px;
}

.updatelist {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Baumans', cursive;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    border: 2px solid #2B2B2B;
    background-color: white;
    color: #2B2B2B;
}

.updatelist:hover {
    background-color: #2B2B2B;
    background-size: 80px;
    background-repeat: none;
    border: 2px solid #2B2B2B;
    color:#ffffff;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
}

.deletelist {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Baumans', cursive;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    border: 2px solid #2B2B2B;
    background-color: white;
    color: #2B2B2B;
}

.deletelist:hover {
    background-color: #2B2B2B;
    background-size: 80px;
    background-repeat: none;
    border: 2px solid #2B2B2B;
    color:#ffffff;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
}